
  <div class="col-12 text-center">
    <img
      class="img-fluid col-12"
      [src]="bannerData?.image"
    />
  </div>

  <div
    class="
      col-6
      mx-auto
      text-center
      banner-content
      position-absolute
      top-50
      start-50
      translate-middle
    "
  >
    <h2 class="banner_heading">{{ bannerData?.title }}</h2>
    <p class="banner_text">
      {{ bannerData?.content }}
    </p>
    <a [href]="bannerData?.link"><button class="banner-button btn btn-primary banner_btn">Shop now</button></a>
  </div>
