
  <div class="m-2">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col-8 p-4 d-flex flex-column position-static">
        <h3 class="mb-0">{{ blogData.title }}</h3>
        <!-- <div class="mb-1 text-muted">Nov 12</div> -->
        <p class="card-text mb-auto">{{ blogData.content }}</p>
        <a href="#" class="btn btn-primary">View more</a>
      </div>
      <div class="col-4 d-none d-lg-block p-2">
        <img class="bd-placeholder-img img-fluid" [src]="blogData.image"/>

      </div>
    </div>
  </div>
