nav {
  border-bottom: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
}
.navbar-light .navbar-nav .nav-link{
  cursor: pointer;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
  color:#d68662!important;
  font-weight: bold;
  font-family: 'Karla', sans-serif!important;
}
.karla{
  font-family: "Karla", sans-serif !important;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14PX;
  color: #272220!important;
  }
  a.nav-link.karla {
    padding: 7px 15px!important;
}
a.nav-link.karla:hover, .header-icon-part a.text-dark:hover {
  color: #d68662!important;
}
a.nav-link.karla {
  transition: .3s all;
}
.header-icon-part a.text-dark {
  color: #a9a4a4!important;
}
.cart .cart-container{
  display: none;
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  min-width: 400px;
  height: auto;
  left: -350px;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 0px 5px #d3d3d3;
}
.cart:hover .cart-container{
  display: block;
}
.cart-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #d3d3d3;
}
.btn-brown {
  background: #d68662;
  color: #fff;
}
.text-brown {
  color: #d68662;
}

.cart-item img {
  padding: 15%;
}
span.delete-cart {
  cursor: pointer;
}
