<div class="text-center product">
  <div class="product_image" >
    <img class="img-fluid" [src]="data.image">
  </div>
  <div class="product_name" [routerLink]="'/product/'+data.id">
    <b>{{ data.name }}</b>
  </div>
  <span class="sale" *ngIf="data.discount_price">Sale</span>
  <div class="product-price">
    <span class="price " *ngIf="!data.discount_price">{{ curr }}{{ data.price }} </span>
    <span class="price text-strikethrow" *ngIf="data.discount_price">{{ curr }}{{ data.price }} </span>
    <span class="discount_price" *ngIf="data.discount_price">{{ curr }}{{ data.discount_price }} </span>
  </div>

</div>

