<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation" *ngFor="let tab of tabs,let i =index" (click)="selectedTab(i)">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">{{ tab.title }}</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div *ngFor="let tab of tabs,let i =index" [class]="'tab-pane fade'+(activeTab==i)?' show active':''" id="home" role="tabpanel" aria-labelledby="home-tab" [innerHTML]="tab.content"></div>
</div>
